* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #f5f6f7;*/
    background-color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
}

li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    font-size: 2rem;
    padding: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.dekstop_nav {
    text-align: center;
    padding: 70px;
}

img {
    width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.fa-envelope {
    color: white;
   padding: 0px 70px;
}

#contact {
    text-align: center;
}

.navbar__btn{
    position: absolute;
    z-index:2;
    cursor: pointer;
    display: none;
    right: 1%;
    top: 1%;
}

.navbar__btn:hover {
   color: white;
}

.bar1, .bar2, .bar3  {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background: white;
    transition: all .75s ease;
}

.change .bar2 {
    transform: rotate(45deg) translateY(0px)
}

.change .bar1 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(135deg) translateY(10px) translateX(-9px)
}

.navbar__links {
    list-style-type: none;
    transition: all 2s ease;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.navbar__collapse {
    height: 305px;
}

.navbar__single-link {
    padding: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
 
}



@media screen and (max-width: 1275px) {
    li {
       font-size: 1.5rem;
    }
    .dekstop_nav {
        padding: 100px;
    }
    .fa-envelope {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 885px) {
    li {
        font-size: .75rem;
    }
}

@media screen and (max-width: 785px) {
    .dekstop_nav {
        display: none;
    }
    #contact {
        display: none;
    }
    img {
        padding-top: 40%;
    }
    .navbar__btn {
        display: block;
    }
    .menu {
        display: block;
    }
    li {
        display: block;
        padding: 20px;
        font-size: .5rem;
    }
}

@media screen and (max-width: 500px) {
    img {
        padding-top: 60%;
    }
    .navbar__single-link  {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    img {
        padding-top: 70%;
    }
    .navbar__links {
        padding-top: 60px;
    }
    
}