* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #f5f6f7;*/
    background-color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    font-size: 2rem;
    padding: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.dekstop_nav {
    display: block;
    text-align: center;
    padding: 70px;
}
img {
    width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.navbar__btn{
    display: none;
    position: absolute;
    z-index:2;
    cursor: pointer;
    /*right: 4%;
    top: 2%;*/
    top: 50%;
    left: 45%;
    color: white;
}

.bar1, .bar2, .bar3  {
    display:none;
    width: 25px;
    height: 2px;
    margin: 0.5rem;
    background: white;
    transition: all .75s ease;
}

.change .ghost {
    display: none;
}

.change .bar2 {
    display: block;
    transform: rotate(45deg) translateY(5px)
}

.change .bar1 {
    display: block;
    opacity: 0;
}

.change .bar3 {
    display: block;
    transform: rotate(135deg) translateY(7px) translateX(-2px)
}

.navbar__links {
    list-style-type: none;
    transition: all 2s ease;
    height: 0;
    overflow: hidden;
    text-align: center;
    margin-top: 25%;
}

.navbar__collapse {
    height: 305px;
}

.navbar__single-link {
    padding: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 1275px) {
    li {
       font-size: 1.5rem;
    }
    .dekstop_nav {
        padding: 100px;
    }
}

@media screen and (max-width: 785px) {
    .dekstop_nav {
        display: none;
    }
    img {
        padding-top: 40%;
    }
    .navbar__btn {
        display: block;
    }
    li {

        padding: 20px;
    }
}

@media screen and (max-width: 500px) {
    img {
        padding-top: 60%;
    }
    .navbar__single-link  {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    img {
        padding-top: 70%;
    }
    .navbar__links {
        padding-top: 60px;
    }
    
}